{% extends "base.html" %}
{% block base %}


    <div class="container">

        <div class="row height d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <div class="form" >
                <i class="fa fa-search"></i>
                    <input id="card_searchbar" type="search"  list="cards" class="form-control form-input" placeholder="Search anything...">
                    <a id="myBtn" hidden href='#'>a</a>
                    <datalist id="cards">
                        {% for card in cards%}
                          <option value="{{ card.name }} " >
                        {% endfor %}
                    </datalist>
                <script>
                    var input = document.getElementById("card_searchbar");
                    var link = document.getElementById("myBtn");
                    input.addEventListener("keypress", function(event) {
                      if (event.key === "Enter") {
                        event.preventDefault();
                        let sanitized = input.value.toLowerCase();

                        // Replace spaces and symbols with underscores
                        sanitized = sanitized.replace(/[\s~`!@#$%^&*()\-_+={[}\]|\\:;"'<,>.?/]/g, '_')
                        .replace(/^_+|_+$/g, '').replace(/_{2,}/g, "_");

                        link.href = '/carddatabase/card/' + sanitized;
                        document.getElementById("myBtn").click();
                      }
                    });
                </script>

                </div>

            </div>

        </div>

    </div>

{% endblock base %}